@model IEnumerable<WebApplication3.Models.Product>
@{
    ViewBag.Title = "Продукты";
}

<h5><a asp-action="CreateProduct">Добавить Продукт</a></h5>
@foreach (var item in Model)
{
<div>

    <h5><a style="color:black" asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id"> @item.Title </a></h5>
    <p>Цена:<b>@item.Price</b> </p>
    <p>Описание: @item.Description</p>
    <h5><a style="color:blue" asp-action="Edit" asp-route-id="@item.Id">Редактировать Продукт</a></h5>
    <form asp-action="Delete" asp-controller="Admin" asp-route-id="@item.Id">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input type="submit" value="Удалить товар" class="btn btn-outline-secondary" style="color:red" />
        </div>
    </form>
</div>

}