@model IEnumerable<WebApplication3.Models.User>
@using System.Security.Claims;
@{
    ViewBag.Title = "Список сотрудников";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<div class="add-memory">
    <form asp-action="Create" method="post">
        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Добавить сотрудника" />
        </div>
    </form>
</div>
<table class="table">
    <tr><th>Login</th><th>Email</th><th class="action-nav">Действие</th></tr>
    @foreach (var user in Model)    
    {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Редактировать пользователя</a>
                        <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id"> Сменить пароль </a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить пользователя
                        </button>
                    </form>
                </td>
            </tr>
    }
</table>