@model WebApplication3.Models.Product
@{
}
<div>
    @ViewData["ip"]
    <h5> @Model.Title </h5>
    <p>Цена:<b>@Model.Price</b> </p>
    <p>Описание: @Model.Description</p>
    <img class="products-element__img_detail" src="@Url.Content(Model.PathImg)" title="@Model.Title" />

</div>