@model IEnumerable<WebApplication3.Models.Product>
@using WebApplication3.ViewModels
@using WebApplication3.Infrastructure
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Продукты";
}

<div id="products">
    <form method="post" asp-action="Index" asp-controller="Product">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label name="nameProduct" class="control-label">Название</label>
            <input type="text" name="nameProduct" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Поиск товара" class="btn btn-outline-secondary" />
        </div>
    </form>
    @if (User.Identity.IsAuthenticated)
    {
        @if (ViewBag.checkAdmin)
        { 
            <form asp-action="CreateProduct" method="get">
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="Добавить Продукт" />
                </div>
            </form>
        }
    }

    <p>@Model.Where(x => x.isRemoved == false).Count() товаров</p>
    <hr class="granica">
    <ul class="products-container">
        
        @foreach (var item in Model)
        {
            @if (!item.isRemoved)
            {

                <li class="products-element">
                    <span class="products-element__name">@item.Title</span>
                    <img class="products-element__img" src="~/img/iphone.png"/>
                    <span class="products-element__price" >@item.Price RUB</span>
                    <form id="@item.ProductId" method="post" asp-action="AddToCart" asp-controller="Cart">
                        <input type="hidden" name="productld" value="@item.ProductId" />
                        <input type="hidden" name="returnUrl"
                               value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                            <button type="submit"
                                    class="products-element__btn products-element__btn_active" >
                                Добавить в корзину
                            </button>
                    </form>
                </li>

            }
        }
     </ul>

</div>
