@model ProductViewModel
@using WebApplication3.ViewModels
@using System.Security.Claims
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Продукты";
    ClaimsPrincipal currentUser = this.User;
    bool IsAdmin = currentUser.IsInRole("admin");
    bool IsSuperUser = currentUser.IsInRole("superuser");
    Layout = "~/Views/Shared/Admin.cshtml";
}
@Html.DisplayFor(m => m.Cart.Lines)
<script src="~/js/site.js"></script>
<div id="products">
    <div class="nav-admin">
        <form method="get" asp-action="Search" asp-controller="Product" class="search-contain">
            <div asp-validation-summary="All" class="text-danger" hidden></div> 
            <div class="form-group flex-element-11">
                <input type="text" name="nameProduct" class="form-control-search" placeholder="Название" />
            </div>
            <div class="form-group flex-element">
                <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </form>
        @if (IsAdmin || IsSuperUser)
        {
            <div class="admin-flex-containt">
                <div class="admin-element-1">
                    <form asp-action="CreateProduct" asp-controller="Product" method="get">
                        <input class="btn btn-primary" type="submit" value="Добавить Продукт" />
                    </form>
                </div>
                <div class="admin-element-2">
                    @if (ViewBag.IsDeleteProduct)
                    {
                        <form asp-action="Index" asp-controller="Product" method="get">
                            <input class="btn btn-primary" type="submit" value="       Продукты       " />
                        </form>
                    }
                    else
                    {
                        <form asp-action="SelectDeleteProduct" asp-controller="Product" method="get">
                            <input class="btn btn-primary" type="submit" value="Удаленные товары" />
                        </form>
                    }
                </div>
            </div>
        }
    </div>
    <p>@Model.ProductList.Where(x => x.isRemoved == false).Count() товаров</p>
    <p>@TempData["message"]</p>
    <hr class="granica">
    <ul class="products-container">
        @foreach (var item in Model.ProductList)
        {
            @if (!item.isRemoved || ViewBag.IsDeleteProduct)
            {
                <li class="products-element">
                    @if (IsAdmin || IsSuperUser)
                    {
                        @if (item.ChangeUser == null)
                        {
                            <i class="fa fa-info" aria-hidden="true" title="Добавил: @item.AddUser&#013; Время: @item.AddDate"></i>
                        }
                        else
                        {
                            <i class="fa fa-info" aria-hidden="true" title="Добавил: @item.AddUser&#013; Время: @item.AddDate&#013;Отредактировал: @item.ChangeUser&#013; Время: @item.ChangeDate"></i>
                        }
                    }
                    <span style="color:black" class="products-element__name"><a asp-action="Detail" asp-route-id="@item.ProductId">@item.Title</a></span>
                    <a asp-action="Detail" asp-route-id="@item.ProductId">
                        <img class="products-element__img" src="@Url.Content(item.PathImg)" title="@item.Title" />
                    </a>
                    <span class="products-element__price">@item.Price RUB</span>
                    @if (IsAdmin || IsSuperUser)
                    {
                        <i class="fa fa-eye" aria-hidden="true"> @item.View</i>
                    }
                    @if (Model.Cart?.Lines.FirstOrDefault(p => p.Product.ProductId == item.ProductId) != null)
                    {
                        var cartProduct = Model.Cart.Lines.FirstOrDefault(p => p.Product.ProductId == item.ProductId);
                        <div class="edit-qua-cart">
                            <form class="form-block-inline betwen" asp-action="DeleteOneProduct" method="get">
                                <input type="hidden" name="productId" value="@cartProduct.Product.ProductId" />
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <i class="fa fa-minus-square" aria-hidden="true"></i>
                                </button>
                            </form>
                            <span class="product-cart"> @cartProduct.Quantity </span>
                            <form class="form-block-inline betwen-2" asp-action="AddOneProduct" method="get">
                                <input type="hidden" name="productId" value="@cartProduct.Product.ProductId" />
                                <button type="submit" class="btn btn-sm btn-plus-product">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <div id="cart">
                            <form  method="get" asp-action="AddToCart" asp-controller="Cart">
                                <input type="hidden" name="productld" value="@item.ProductId" />
                                <button type="submit"
                                        class="products-element__btn products-element__btn_active">
                                    <span class="spn"><i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></span>
                                </button>
                            </form>
                        </div>
                    }
                    @if (IsAdmin || IsSuperUser)
                    {
                        @if (!item.isRemoved)
                        {
                            <form asp-action="Delete" asp-controller="Product" asp-route-id="@item.ProductId">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <input type="submit" value="Удалить" class="btn btn-outline-secondary btn-2" />
                                    <a asp-action="Edit" asp-route-id="@item.ProductId"> <i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i></a>
                                </div>
                            </form>
                        }
                        else
                        {
                            <form asp-action="RestoreProduct" asp-controller="Product" asp-route-id="@item.ProductId" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <input type="submit" value="Восстановить" class="btn btn-outline-secondary btn-my" />
                                    <a asp-action="Edit" asp-route-id="@item.ProductId"> <i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i></a>
                                </div>
                            </form>
                        }
                    }
                </li>
            }
        }
    </ul>
    @if (Model.PageViewModel.HasPreviosPage)
    {
        <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" class="btn btn-outline-dark">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            Назад 
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" class="btn btn-outline-dark">
            Вперед
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    }
</div>