@model IEnumerable<WebApplication3.Models.Product>
@using WebApplication3.ViewModels
@using WebApplication3.Infrastructure
@using System.Security.Claims
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Продукты";
    ClaimsPrincipal currentUser = this.User;
    bool IsAdmin = currentUser.IsInRole("admin");
    bool IsSuperUser = currentUser.IsInRole("superuser");  
}

<div id="products">
    <div class="nav-admin">
        <form method="post" asp-action="Index" asp-controller="Product" class="search-contain">
            <div asp-validation-summary="All" class="text-danger" hidden></div>
            <div class="form-group flex-element-11">
                <input type="text" name="nameProduct" class="form-control-search" placeholder="Название" />
            </div>
            <div class="form-group flex-element">
                <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </form>

        @if (IsAdmin || IsSuperUser)
        {
            <div class="admin-flex-containt">
                <div class="admin-element-1">
                    <form asp-action="CreateProduct" asp-controller="Product" method="get">
                        <input class="btn btn-primary" type="submit" value="Добавить Продукт" />
                    </form>
                </div>
                <div class="admin-element-2">
                    @if (ViewBag.IsDeleteProduct)
                    {
                        <form asp-action="Index" asp-controller="Product" method="get">
                            <input class="btn btn-primary" type="submit" value="       Продукты       " />
                        </form>
                    }
                    else
                    {
                        <form asp-action="SelectDeleteProduct" asp-controller="Product" method="get">
                            <input class="btn btn-primary" type="submit" value="Удаленные товары" />
                        </form>
                    }
                </div>
            </div>
        }
    </div>
    <p>@Model.Where(x => x.isRemoved == false).Count() товаров</p>
    <hr class="granica">
    <ul class="products-container">
        @foreach (var item in Model)
        {
            @if (!item.isRemoved || ViewBag.IsDeleteProduct)
            {   
        <li class="products-element">
            @if (IsAdmin || IsSuperUser)
            {
                @if (item.ChangeUser == null)
                {
                    <i class="fa fa-info" aria-hidden="true" title="Добавил: @item.AddUser&#013; Время: @item.AddDate"></i>
                }
                else
                {
                    <i class="fa fa-info" aria-hidden="true" title="Добавил: @item.AddUser&#013; Время: @item.AddDate&#013; Отредактировал: @item.ChangeUser&#013; Время: @item.ChangeDate"></i>
                }
            }
            <span style="color:black" class="products-element__name"><a asp-action="Detail" asp-route-id="@item.ProductId">@item.Title</a></span>
            <a asp-action="Detail" asp-route-id="@item.ProductId">
                <img class="products-element__img" src="@Url.Content(item.PathImg)" title="@item.Title" />
            </a>
                <span class="products-element__price">@item.Price RUB</span>
            @if (IsAdmin || IsSuperUser)
            {
                <i class="fa fa-eye" aria-hidden="true"> @item.View</i>
            }
            <form id="@item.ProductId" method="post" asp-action="AddToCart" asp-controller="Cart">
                <input type="hidden" name="productld" value="@item.ProductId" />
                <input type="hidden" name="returnUrl"
                       value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <button type="submit"
                        class="products-element__btn products-element__btn_active">
                    <span class="spn"><i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></span>
                </button>
            </form>
            @if (IsAdmin || IsSuperUser)
            {
                @if (!item.isRemoved)
                {
                    <form asp-action="Delete" asp-controller="Product" asp-route-id="@item.ProductId">
                        <div asp-validation-summary="All" class="text-danger"></div>    
                        <div class="form-group">
                            <input type="submit" value="Удалить" class="btn btn-outline-secondary btn-2"/>
                            <a asp-action="Edit" asp-route-id="@item.ProductId"> <i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i>  </a>
                        </div>
                    </form>
                }
                else
                {
                    <form asp-action="RestoreProduct" asp-controller="Product" asp-route-id="@item.ProductId" method="get">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input type="submit" value="Восстановить" class="btn btn-outline-secondary btn-my"  />
                            <a asp-action="Edit" asp-route-id="@item.ProductId"> <i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i></a>
                        </div>
                    </form>
                }
            }
        </li>
            }
        }
    </ul>
</div>
