@model WebApplication3.ViewModels.OrderViewModel

@{
    Layout = "~/Views/Shared/Admin.cshtml";
}

<span id="adressStatment" hidden>@Model.AdressList</span>
<span id="streetNumber" hidden>@Model.StreetNumbers</span>

<h2>Оформление заказа</h2>
<p>Введите данные, и мы сразу же отправим ваш товар</p>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Checkout" method="post">
    <div class="form-group">
        <label>Имя:</label><input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Адрес</label><br/>
        <input list="adressList" id="input" class="form-control address-statment" type="text" asp-for="Adress" autocomplete="off" />
        <datalist id="adressList">
            @foreach (var addressName in Model.StartAddress)
            {
                <option value="@addressName.short_type_name - @addressName.address_name">@addressName.address_name</option><br/>            
            }
        </datalist>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Заказать" />
    </div>
</form>
<script src="~/js/Searh.js"></script>


