@model WebApplication3.ViewModels.CartIndexViewModel
@{
}

<h2>Ваша корзина</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Количество</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Сумма</th>
            <th>Действие</th>
            @if (Model.Cart.Lines.Count() != 0)
            {
                <th>Изменить количество</th>
            }
            else
            {
                <th></th>
            } 
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.Title</td>
                <td class="text-right">@line.Product.Price ₽</td>
                <td class="text-right">
                    @(line.Quantity * line.Product.Price) ₽
                </td>
                <td>
                    <div title="Удаление с коризны">
                        <form asp-action="RemoveFromCart" method="post">
                            <input type="hidden" name="productld" value="@line.Product.ProductId" />
                            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                            <button type="submit" class="btn btn-sm btn-danger">
                                <span><i class="fa fa-cart-arrow-down" aria-hidden="true" ></i></span>
                            </button>
                        </form>
                    </div>
                </td>
                <td>
                    <div class="edit-qua-cart">
                        <form class="form-block-inline betwen" asp-action="DeleteOneProduct" method="post">
                            <input type="hidden" name="productld" value="@line.Product.ProductId" />
                            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                            <button type="submit" class="btn btn-sm btn-danger">
                                <i class="fa fa-minus-square" aria-hidden="true"></i>
                            </button>
                        </form>
                        <span class="product-cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></span>
                        <form class="form-block-inline betwen-2" asp-action="AddOneProduct" method="post">
                            <input type="hidden" name="productId" value="@line.Product.ProductId" />
                            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                            <button type="submit" class="btn btn-sm btn-plus-product">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right"></td>
            <td class="text-right">
                
            </td>
            <td>
                Итого:
            </td>
            <td>
                @Model.Cart.ComputeTotalValue() ₽
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" asp-controller="Product" asp-action="Index">Продолжить покупку</a>
    <a class="btn btn-primary" asp-action="Checkout" asp-controller="Order">
        Перейти к оформлению заказа
    </a>
</div>
